.sidebar {
  background: rgb(5, 68, 104);
  width: 251px;
  height: 100vh;
  display: flex;
  justify-content: center;
  top: 0;
  padding: 20px 0;
  transition: all 0.5s ease;
  font-size: 16px;
}

.sidebarMenu {
  color: #ffffff;
}

// .sidebar MenuItem:hover {
//   background-color: #ea2c62;
//   padding: 12px;
//   color: #d81717;
//   transition: all 0.5s;
// }
