.sidebar {
  background: #35c30e;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  // position: fixed;
  top: 0;
  transition: 350ms;
  z-index: 10;
  font-size: 20px;

  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

  font-weight: 600;
}

// .sidebar MenuItem:hover {
//   background-color: #ea2c62;
//   padding: 12px;
//   color: #d81717;
//   transition: all 0.5s;
// }
